/* main styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Raleway", "Arial", sans-serif;
	font-size: 16px;
	padding-top: 48px;
	color: #333;
}

.clearfix {
	clear: both;
}

a:link,
a:visited,
a:hover,
a:active {
	color: #3498db;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* container */
.container {
	width: 100%;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}


/* navigation menu */
#menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #222;
	padding: 15px;
	z-index: 100;
}

#menu li {
	display: inline-block;
}

#menu li + li {
	margin-left: 15px;
}

#menu a {
	color: white;
}

/* home */
#home {
	position: relative;
}
#home img {
	width: 100%;
	border-bottom: 1px solid #ddd;
}
#home header {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	transform: translateY(-50%);
}
#home p {
	font-size: 4vw;
	text-align: center;
	line-height: 1.8em;
	text-shadow: 1px 1px 2px white;
}

/* title */
.title {
	text-align: center;
}
.title h1 {
	border-bottom: 1px solid #ccc;
	padding: 15px 30px;
	display: inline-block;
	margin-bottom: 40px;
	margin-top: 30px;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 28px;
}

/* about me */
#about {
	margin-top: 20px;
	color: #
}

#about div {
	margin-bottom: 20px;
}
#about div + div {
	margin-top: 40px;
}
#about p {
	line-height: 180%;
}

/* designer & coder */
#partdesigner {
	background-image: url('../Excercise1/assets/img/bg/divider12.png');
	background-size: cover;
	min-height: 300px;
	background-attachment: fixed;
}
#partdesigner p,
#partcoder p {
	color: white;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
	text-align: center;
	text-shadow: 1px 1px 2px black;
	line-height: 1.4;
	font-size: 1.5em;
}
#partcoder {
	background: black;
}
#partdesigner .title,
#partcoder .title {
	text-shadow: 1px 1px 2px black;
	color: white;
}
#partdesigner .title h1,
#partcoder .title h1 {
	border-bottom-color: white;
}

/* skills */
#skills {
	text-align: center;
	background: linear-gradient(white, #eee);
	border: 1px solid #ddd;
}
#skills .title h1 {
	border-bottom: none;
}
#skills .bars {
	height: 50vw;
	padding-bottom: 30px;
}
#skills .bar {
	display: inline-block;
	width: 20%;
	vertical-align: bottom;
	position: relative;
}
#skills .bar + .bar {
	margin-left: 2%;
}
#skills .bar .number {
	position: absolute;
	bottom: 7vw;
	left: 0;
	font-size: 6vw;
	width: 100%;
	font-weight: bold;
	color: rgba(255,255,255,0.4);
}
#skills .bar .text {
	font-size: 3vw;
	color: white;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 2vw;
	left: 0;
	font-weight: bold;
}
#skills .bar.blue {
	height: 95%;
	background: linear-gradient(#b0dbd6, #5fb2a8) rgb(97,179,169);
	border: 1px solid #8dc5be;
}
#skills .bar.red {
	height: 80%;
	background: linear-gradient(#f4dcd6, #e1ae9f) rgb(226,177,162);
	border: 1px solid #ebc0b5;
}
#skills .bar.yellow {
	height: 90%;
	background: linear-gradient(#efc562, #dfae36) rgb(224,176,57);
	border: 1px solid #e7af30;
}
#skills .bar.green {
	height: 80%;
	background: linear-gradient(#dcba83, #bc8e5b) rgb(190,145,93);
	border: 1px solid #dcb386;
}

/* portfolio */
#portfolio .item {
	color: white;
	background-color: #808080;
	width: 150px;
	text-align: center;
	display: inline-block;
	padding: 10px;
	transition: 0.3s background-color ease;
}
#portfolio .item + .item {
	margin-left: 8%;
}
#portfolio .item:hover,
#portfolio .item:active{
	color: white;
	background-color: green;
	cursor: pointer;
}
#portfolio {
	text-align: center;
	border: 1px solid #ddd;
}

#portfolio .figure {
	padding: 2%;
	padding-bottom: 0;
	width: 100%;
	height: 100%;
}
#portfolio #gallery {
	width: 100%;
	margin: 0 auto;

}
#portfolio #gallery > div {
	color: white;
	display: inline-block;
	margin: 2%;
	width: 20%;
}
#portfolio #gallery figcaption {
	width: 100%;
	height: 100%;
	padding: 5%;
	background-color: rgb(52,152,219);
}

#portfolio #gallery h5 {
	display: inline-block;
	text-align: left;
}

#portfolio #gallery a {
	margin: 0;
	margin-top: -3px;
	float: right;
	padding: 5px;
	font-size: 12px;
	color: white;
	display: inline-block;
	background-color: #222;
	text-align: center;
}
#portfolio #gallery div+div+div+div+div {
	margin-left: 25%;
	transform: translate(-50%, 0);
}

/* blog */
#blog {
	background: #f5f5f5;
	padding-bottom: 40px;
}
#blog .blogentry {
	display: inline-block;
	height: 400px;
	width: 41%;
}
#blog .blogentry .avatar {
	display: inline-block;
	vertical-align: middle;
	background-color: #222;
	text-align: center;
	color: white;
	line-height: 150%;
	margin: 0;
	height: 450px;
	width: 30%;
	margin-right: 15px;
	float: left;
	height: 400px;
}
#blog .blogentry .avatar > div {
	padding-top: 40px;
	width: 100%;
}
#blog .blogentry .text {
	display: block;
	background: white;
	height: 400px;
}
#blog .blogentry .text h2 {
	padding-bottom: 20px;
	padding-top: 10px;
}
#blog .blogentry .text p {
	margin-top: 10px;
	line-height: 1.7em;
}

#blog #smallblog {
	color: white;
	display: inline-block;
	height: 400px;
}
#blog #smallblog > div {
	background-color: #222;
	margin: 15px;
	margin-right: 0;
	padding: 15px;
	padding-bottom: 5px;
}

#smallblog p+p {
	padding-top: 10px;
}
#smallblog p+p+p{
	margin-top: 15px;
}

/* crafted in zurich */
#craftedzurich {
	position: relative;
	height: 70vw;
	background: url('../Excercise1/assets/img/bg/divider661.jpg') 100% 100% no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#craftedzurich > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#craftedzurich .title h1 {
	white-space: nowrap;
	color: white;
	font-size: 4vw;
}
#craftedzurich p,
#craftedzurich a {
	text-align: center;
	color: white;
	font-size: 3.8vw;
	line-height: 180%;
}

/* Thanks for visiting */
#contact {
	margin-top: 20px;
	margin-bottom: 70px;
}
#contact .column {
	float: left;
	width: 33%;
	padding: 2%;
	padding-top: 0;
	line-height: 200%;
}
#contact button {
	padding: 3px 6px;
}
#footer {
	clear: both;
	position: relative;
	padding-top: 4%;
	padding-bottom: 4%;
	background-color: #222;
	width: 100%;
}

#footer h4 {
	text-align: center;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%,-50%);
}

/* responsive breakpoints */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
	#partdesigner p,
	#partcoder p {
		width: 55%;
	}
	#skills .bars {
		height: 400px;
	}
	#skills .bar {
		width: 16%
	}
	#skills .bar .number {
		font-size: 40px;
		bottom: 50px;
	}
	#skills .bar .text {
		font-size: 17px;
		bottom: 15px;
	}
	#craftedzurich {
		height: 400px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
	#home p {
		font-size: 48px;
	}
	#craftedzurich .title h1 {
		font-size: 48px;
	}
	#craftedzurich p,
	#craftedzurich a {
		font-size: 40px;
	}
}