/* main styles */
* {
	margin: 0;
	padding: 0;
	/*outline: 1px solid black;*/
	box-sizing: border-box;
}

body {
	font-family: "Raleway", "Arial", sans-serif;
	font-size: 16px;
	padding-top: 48px;
	background-color: gray;
}

a:link,
a:visited,
a:hover,
a:active {
	color: #3498db;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* navigation menu */
ul.navbar {
	background: #222;
	padding: 15px;
}

ul.navbar li {
	display: inline-block;
}

ul.navbar li + li {
	margin-left: 15px;
}

ul.navbar a {
	color: white;
}
#menu {
	background-color: white;
	padding-left: 3px;
	padding-right: 3px;
	position: fixed;
	width: 80%;
	top: 0;
	left: 10%;
}

h1 + hr {
	height: 3px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	background: gray;
}

h1 {
	text-align: center;
	font-size: 40px;
}
.whitecentered {
	color: white;
	font-size: 22;
	text-align: center;
}
.inline{
	display: inline-block;
}

#el1{
	float: left;
	background-color: gray;
	width: 10%;
}
#el1 p{
	color: gray;
}
#el2{
	float: right;
	background-color: gray;
	width: 10%;
}
#container{
	background-color: gray;
	position: relative;
}
#content{
	float: left;
	width: 80%;
	margin: 0 auto;
	padding-left: 3px;
	padding-right: 3px;
	background-color: white;
	
}

/* home */
#home {
	background: url('../Excercise1/assets/img/header_bg2.jpg') 100% 100% no-repeat;
	background-size: 100% auto;
	padding-top: 15%;
	padding-bottom: 15%;
}
#home p {
	font-size: 40px;
	text-align: center;
	line-height: 200%;
}

/* about */
#about{
	padding-top: 3%;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 2%;
}
#about div {
	padding-top: 5%;
}
#about p {
	line-height: 180%;
}

/* designer & coder */
#partdesigner{
	padding: 5%;
	padding-left: 20%;
	padding-right: 20%;
	background-image: url('../Excercise1/assets/img/bg/divider12.png');
	background-size: 120% auto;
}
#partcoder {
	padding-top: 8%;
	padding-bottom: 8%;
	background-image: url(../Excercise1/assets/img/bg/divider22.jpg);
}

/* skills */
#skills{
	height: 500px;
	text-align: center;
}

#skills .barnumber{
	font-size: 40;
	padding: 10px;
}
#skills .bartext{
	font-size: 20;
	color: white;
	padding: 10px;
}
.colorblue{
	background-color: blue;
}
.colorred{
	background-color: red;
}
.coloryellow{
	background-color: yellow;
}
.colorgreen{
	background-color: green;
}



/* portfolio */

#portfolio div.navbar p:hover,
#portfolio div.navbar p:active{
	color: white;
	background-color: green;
	padding: 10px;
	width: 150px;
	text-align: center;
}

#portfolio div.navbar {
	padding: 15px;
}

#portfolio div.navbar div + div {
	margin-left: 15px;
}

#portfolio div.navbar p {
	width: 150px;
	color: white;
	background-color: gray;
	padding: 10px;
	text-align: center;
}

#portfolio .figure {
	margin: 10px;
	margin-bottom: 0;
	width: 220px;
	height: 150px;
}
#portfolio #gallery>div{
	color: white;
	display: inline-block;
	margin: 20px;
}
#portfolio #gallery figcaption{
	width: 240px;
	padding: 10px;
	background-color: blue;
}

#portfolio #gallery h5{
	margin-right: 10px;
	display: inline-block;
	text-align: left;
}

#portfolio #gallery a{
	padding: 5px;
	margin-left: 10px;
	font-size: 12;
	color: white;
	display: inline-block;
	background-color: gray;
	text-align: right;
}

/* blog */

#blog div.navbar .blogentry {
	display: inline-block;

}
#blog .avatar{
	display: inline-block;
	background-color: gray;
	text-align: center;
	line-height: 150%;
}
#blog .avatar>p{
	padding:30px;
}
#blog .avatar>h5{
	
}
#blog .avatar +div{
	display: inline-block;
	width: 350px;
	line-height: 180%;
}
#blog .avatar +div>h2{
	margin: 20px;
}
#blog .avatar +div>p{
	margin: 20px;
}

#smallblog {
	color: white;
	display: inline-block;
}
#smallblog div {
	background-color: gray;
	margin: 15px;
	margin-right: 0;
	padding: 15px;
	padding-bottom: 5px;
}

#smallblog p+p {
	padding-top: 10px;
}
#smallblog p+p+p{
	margin-top: 15px;
}

/*crafted in zurich*/
#craftedzurich{
	padding-top: 10%;
	padding-bottom: 10%;
	background: url('../Excercise1/assets/img/bg/divider661.jpg') 100% 100% no-repeat;
	background-size: 100% auto;
}
#craftedzurich .whitecentered{
	font-size: 32;
	line-height: 250%;
}



/* Thanks for visiting */
#contact{
	padding: 10%;
	padding-top: 0;
}
#contact .column {
	float: left;
	width: 33%;
	padding: 2%;
	padding-top: 0;
	line-height: 200%;
}

#footer{
	clear: both;
	position: relative;
	padding-top: 4%;
	padding-bottom: 4%;
	background-color: gray;
	width: 100%;
}
	
#footer h4{
	text-align: center;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%,-50%);
}
	
	